{% extends 'base_layout.html' %}

{% block content %}
<section>
    <div class="container my-5">
        <div class="cards my-5">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Shopping Cart</b></h4>
                            </div>
                            <div class="col align-self-center text-right text-muted">{{item}}  {{cartproduct.id}} items</div>
                        </div>
                    </div>
                    {% for cart in cartProduct %}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="../media/{{cart.book.image}}" /></div>
                            <div class="col">
                          
                                <div class="row">{{cart.book.title}}</div>
                            </div>
                            <div class="col cart-a">
                                <a href="{%url 'bookapp:remove' pk=cart.book.id %}">-</a><a href="#" class="border mx-2 px-2">{{cart.quantity}}</a><a href="{%url 'bookapp:increase' pk=cart.book.id %}">+</a>
                            </div>
                            <div class="col-5">
                                <div class="d-flex">
                                    <p class="me-3">
                                        $ {{cart.book.discount}} 
                                    </p>
                                    <p>Total = $ {{cart.total}}</p>
                                    
                                    <a class="ms-5" href="{%url 'bookapp:delete' pk=cart.book.id %}"><span class="close">&#10005;</span></a></div>
                                </div>
                                
                        </div>
                    </div>
                    {% endfor %}

                    <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
                    </div>
                </div>
         
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Summary</b></h5>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col ps-0">ITEMS 3</div>
                        <div class="col text-right"> $ {{subtotal}}</p></div>
                    </div>
                    <form>
                        <p>SHIPPING</p>
                        <select>
                            <option class="text-muted">Standard-Delivery- $5.00</option>
                        </select>
                        <p>GIVE CODE</p>
                        <input id="code" placeholder="Enter your code" />
                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="row">
                            <div class="col">TOTAL PRICE</div>
                            <div class="col text-right">$ {{totalPrice}}</div>
                        </div>
                      <a href="{%url 'bookapp:order'%}"><button class="btn">Order</button></a>
                    </div>
                </div>

            </div>

        </div>
</section>
{% endblock %}