{% extends 'base_layout.html' %}

{% block content %}
<section>
    <div class="container my-5">
        <div class="cards my-5">
            <div class="row">
                <div class="col-md-10 cart">
                
                    {% for order in orderProduct %}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="../media/{{order.book.image}}" /></div>
                            <div class="col">
                          
                                <div class="row">{{order.book.title}}</div>
                            </div>
                            <div class="col cart-a">
                              <a href="#" class="border mx-2 px-2">{{order.quantity}}</a>
                            </div>
                            <div class="col-5">
                                <div class="d-flex">
                                    <p class="me-2">
                                        $ {{order.book.discount}} 
                                    </p>
                                    <p>Total = $ {{order.total}}</p>
                                    <p class="ms-2">{{order.order_status}}</p>
                                    
                                   
                                </div>
                                
                        </div>
                    </div>
                    {% endfor %}

                 
                    </div>
                </div>
            </div>

        </div>
</section>
{% endblock %}